footer {
  padding: 2rem;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      width: 8rem;
    }

    span {
      font: 600 1rem/1.25 $font-family-inter;
    }
  }
}