#hero {
    display: flex;
    align-items: center;
    padding: 5rem 0;
    height: calc(100vh - 6rem);

    & .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;

        & .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            & .texts {
                margin-bottom: 2rem;

                & h1 {
                    color: $oc-gray-6;

                    & span {
                        position: relative;
                        color: $oc-gray-9;

                        &::after {
                            content: "";
                            position: absolute;
                            background: url('/assets/img/line.svg');
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            height: 1rem;
                            width: 100%;
                            left: 5%;
                            top: 80%;

                        }
                    }
                }

                & p {
                    max-width: 40ch;
                }
            }
        }

        & .scroll-down {
            display: flex;


            &-content {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 0 1rem;

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 50%;
                    height: 1px;
                    background-color: $oc-gray-7;
                    top: 50%;
                }

                &::before {
                    right: 100%;
                }

                &::after {
                    left: 100%;
                }
            }
        }
    }
}