#servicos {
    display: flex;
    align-items: center;
    padding: 5rem 0;

    .container {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        width: 100%;

        ul.list {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 100%;

            li {
                display: flex;
                gap: 2rem;
                flex-direction: column;
                align-items: center;

                width: 100%;
                padding: 2rem;
                background-color: $colors-brand-color-1-700;
                border: 2px solid $colors-brand-color-1-400;
                text-align: center;

                .icon {
                    width: 2.5rem;
                    height: 2.5rem;
                }

                p {
                    max-width: 40ch;
                }

            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        .container {
            gap: 4rem;

            ul.list {
                flex-direction: row;

                li {
                    padding: 4rem;
                }
            }
        }
    }
}