.experiencia-container {
  display: grid;
  /* display: none; */
  grid-template-columns: 2fr 1fr;
  align-items: start;
  gap: 40px;
}

.experiencia-titulo {
  grid-column: 1 / -1;

  /* color: #f0f0f0; */
  color: #f0f0f0;
  width: 100%;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 20ch;
  justify-self: end;
}

.experiencia-texto strong {
  font-weight: bold;
  color: #3271d0;
}

.experiencia-periodo {
  position: relative;
  display: flex;
  gap: 60px;
}

.experiencia-historico {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experiencia-lista {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.experiencia-historico::before {
  content: "";
  position: absolute;
  left: 1rem;
  width: 2px;
  height: 95%;
  background: #b8b8b8;
}

.experiencia-periodo-ano {
  padding: 20px 0;
  height: 100%;
  background-color: #ffffff;
}

.experiencia-card {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.experiencia-card-titulo {
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: bold;
}
.experiencia-card-tipo {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: bold;
  color: #b8b8b8;
}

.experiencia-card-descricao {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 20px;
}

.experiencia-card-descricao-lista {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
  padding: 10px;
}

.experiencia-card-descricao-lista li {
  padding: 10px 20px;
  border: 1px solid #b8b8b8;
  background: #ffffff;
  border-radius: 5px;
}

.experiencia-card-descricao-lista::before {
  content: "";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  left: -10px;
  align-self: center;
}

.experiencia-card-descricao-texto {
  color: #525252;
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .experiencia-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .experiencia-titulo {
    font-size: 3.5rem;
  }

  .experiencia-texto {
    grid-row: 2;
    width: 100%;
    justify-self: center;
  }
}

@media (max-width: 900px) {
  .experiencia-historico {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .experiencia-historico {
    max-width: 100%;
  }
  .experiencia-card-descricao {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .experiencia-card-descricao-texto {
    margin-bottom: 20px;
  }

  .experiencia-card-descricao-lista {
    display: flex;
    gap: 20px;
  }

  .experiencia-periodo {
    flex-direction: column;
    gap: 0;
  }

  .experiencia-periodo-ano {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
  }

  .experiencia-historico::before {
    content: "";
    display: none;
  }

  .experiencia-card-descricao-lista::before {
    content: "";
    display: none;
  }
}

@media (max-width: 425px) {
  .experiencia-titulo {
    font-size: 2rem;
  }
}
