.formacao {
  /* display: none; */
  background-color: #141414;
}

.formacao-container {
  display: grid;

  grid-template-columns: 1fr 2fr;
  align-items: start;
  gap: 40px;
}
.formacao-titulo {
  grid-column: 1 / -1;

  color: #000;
  width: 100%;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.5;
  width: 20ch;
  justify-self: start;
  color: #b8b8b8;
}

.formacao-texto strong {
  font-weight: bold;
  color: #3271d0;
}

.formacao-historico {
  display: flex;
  flex-direction: column;
}

.formacao-historico-formacoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.formacao-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
  border: 1px solid #b8b8b8;
  background: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
  gap: 20px;
}

.formacao-item-ano {
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: bold;
  color: #b8b8b8;
}

.formacao-historico-formacoes-extras h3 {
  color: #3271d0;
  font-size: 2rem;
  margin-bottom: 20px;
}
.formacao-historico-formacoes-extras ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formacao-historico-formacoes-extras ul li {
  color: #b8b8b8;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .formacao-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .formacao-historico-formacoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
  }

  .formacao-titulo {
    font-size: 3.5rem;
  }

  .formacao-texto {
    width: 100%;
    justify-self: center;
  }
}

@media (max-width: 768px) {
  .formacao-historico-formacoes {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 425px) {
  .formacao-titulo {
    font-size: 2rem;
  }
}
