.header {
  margin-bottom: 100px;
}

.logo {
  position: relative;
}

.logo::before {
  content: "";
  position: absolute;
  width: 900px;
  height: 800px;
  right: -350px;
  top: -230px;

  background: #141414;
  transform: rotate(60deg);
  z-index: -1;
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  line-height: 2;
  color: #141414;
  position: relative;
}

.header-menu li {
  position: relative;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 50px;
  }
  .header-menu {
    flex-direction: column;
    gap: 10px;
    text-align: end;
  }
}
@media (max-width: 900px) {
  .header {
    flex: none;
    flex-direction: column;
    gap: 40px;
    background-color: #141414;
    padding: 40px 0;
  }

  .logo::before {
    display: none;
  }

  .header-menu {
    gap: 10px;
    text-align: center;
  }

  .header-menu a {
    color: #ffffff;
  }

  .header-menu li::after {
    background-color: #ffffff;
  }
}

@media (max-width: 1024px) {
  .header {
    margin-bottom: 0;
  }

  .header-menu {
    gap: 10px;
  }
}
