/*  */

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 200px;
}

.introducao-texto {
  /* font-family: IBM Plex Sans; */
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.4;

  color: #ffffff;
}

.introducao img {
  height: auto;
  justify-self: end;
}
.introducao-texto h1 {
  display: inline;
}


.introducao-texto span {
  color: #3271d0;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .introducao img {
    display: none;
  }
}
