/*  */

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 250px;
}

.introducao-texto {
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 1.4;

  color: #ffffff;
}

.introducao img {
  height: auto;
  justify-self: end;
}
.introducao-texto h1 {
  display: inline;
}

.introducao-texto span {
  color: #3271d0;
  font-size: 3rem;
}

@media (max-width: 1024px) {
  .introducao {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .introducao-texto {
    grid-column: 1 / -1;
  }
  .introducao img {
    display: none;
  }
}
@media (max-width: 900px) {
  .introducao {
    margin-bottom: 100px;
    grid-template-columns: 1fr 1fr;
  }
  .introducao-texto {
    grid-column: 1;
  }
  .introducao img {
    display: block;
  }
  .introducao-texto h1 {
    color: #141414;

    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-texto {
    grid-column: 1 / -1;
  }
  .introducao img {
    display: none;
  }
  .introducao-texto h1 {
    font-size: 3rem;
  }
}

@media (max-width: 425px) {
  .introducao-texto h1 {
    font-size: 2.5rem;
  }
}
